{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <h1>Rango is about...</h1>
        <div>
            absolute limbs<br />
            <strong>This project has been put together by Douglas Russell</strong><br />
        </div>
        <div>
            <a href="/rango/">Home</a><br />
            <img src="{% static 'images/legs.jpg' %}" alt="These are the limbs" />
            <img src="{{ MEDIA_URL }}lamp.jpg" alt="Meme" />
        </div>
    </body>
</html>