{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango is about...</h1>
    <div>
        absolute limbs<br />
        <strong>This project has been put together by Douglas Russell</strong><br />
        {% if visits %}
            <p>Visits: {{ visits }}</p>
        {% endif %}
    </div>
    <div>
        <img src="{% static 'images/legs.jpg' %}" alt="These are the limbs" />
        <img src="{{ MEDIA_URL }}lamp.jpg" alt="Meme" />
    </div>
{% endblock %}